/* SignupPage.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Signup form styles */
.auth-form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.sign-up-form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.auth-input-wrapper {
  margin-bottom: 20px;
}

.sign-up-form-input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Add this line to fix width calculation */
}

.auth-form-submit-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.auth-form-submit-button:hover {
  background-color: #3367d6;
}
